body{
    text-align: center;
}

#hero{
    width: 600px;
    margin: 0 auto 72px;
}
#hero img{

    margin-bottom: 72px;
}
H1{
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;
}
h1 span{
    font-weight: bold;
}

span, a {
    color: #FF9900;
}

p {
    color: #7D7987;
    font-size: 14px;
    line-height: 30px;
}

#footer a + a{
    margin-left: 28px;
}

#ball{
    position: fixed;
    bottom: 0px;
    right: 0px;
}